#ui-vouchers {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 99999;
}

.ui-container {
  padding: 24px;
  font-family: Arial, sans-serif;
}

.historico {
    position: fixed;
    height: 100px;
    width: 100px;
    background: red;
    bottom: 20px;
    left: 50px;
    z-index: 99999;
}